* {
    margin: 1;
    padding: 2;
    box-sizing: border-box;

}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: var(--clr-grey-10);
    color: var(--clr-grey-1);
    line-height: 1.5;
    font-size: 0.875rem;
}

.navbar {
    display: block;
    width: 100px;
    color: white;
    background-color: #0F1111;


}

ul {
    list-style-type: none;
}

.underline {
    display: inline-block;
    color: #000;
}




.btn-container {
    margin-bottom: 4rem;
    display: flex;
    justify-content: center;

}

.filter-btn {
    background: transparent;
    border-color: transparent;
    font-size: 1rem;
    text-transform: capitalize;
    margin: 0 0.5rem;
    letter-spacing: 1px;
    padding: 0.375rem 0.75rem;
    color: var(--clr-gold);
    cursor: pointer;
    transition: var(--transition);
    border-radius: var(--radius);
}

a-price .a-offscreen {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.slider {
    background: var(--clr-white);
    padding: 1.0rem 1rem;
    border-radius: var(--radius);
    box-shadow: var(--light-shadow);
    transition: var(--transition);
    text-align: center;
}

.person-img {

    max-width: 100%;
    max-height: 600%;
    vertical-align: top;



}

.img-container {

    width: 990px;
    height: 400px;
    border-radius: 10%;
    margin-top: 6 rem;
    padding: 1;
    margin-bottom: 0.95rem;
}

.prev-btn {
    position: absolute;
    top: 60%;
    left: 1;
    display: flex;
    justify-content: space-between;
    z-index: 0;
    background: transparent;


}

.next-btn {
    position: absolute;
    top: 60%;
    right: 0;
    display: flex;
    justify-content: space-between;
    z-index: 0;
    background: none;

}



.btn-container {
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
}

.menu {
    padding: 0rem 0;
    width: 100%;
}


.title {
    text-align: center;
    margin-bottom: 2rem;
}

.underline {
    width: 5rem;
    height: 0.25rem;
    background: var(--clr-gold);
    margin-left: auto;
    margin-right: auto;
}

.btn-container {
    margin-bottom: 2rem;
    display: flex;
    justify-content: flex-start;
}

.filter-btn {
    background: transparent;
    border-color: transparent;
    font-size: 1rem;
    text-transform: capitalize;
    margin: 0 0.5rem;
    letter-spacing: 1px;
    padding: 0.375rem 0.75rem;
    color: #c59d5f;
    color: var(--clr-gold);
    cursor: pointer;
    transition: all .3s linear;
    transition: var(--transition);
    border-radius: 0.25rem;
    border-radius: var(--radius);
}



.filter-btn:hover {
    background: var(--clr-gold);
    color: var(--clr-white);
}

.section-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 1200px;
    display: grid;
    gap: 3rem 2rem;
    justify-items: center;
}

.menu-item {
    margin: 0;
    display: grid;
    gap: 1rem 2rem;
    max-width: 5rem;
}



.item-info header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 0.5px dotted var(--clr-grey-5);
    padding-left: 0%;
}

.item-info h4 {
    margin-bottom: 0.5rem;
}

.price {
    color: var(--clr-gold);
}

.item-text {
    margin-bottom: 0;
    padding-top: 3rem;

}

.menu-item {
    display: grid;
    gap: 1rem 2rem;
    max-width: 25rem;
}

.frontbanner {
    width: 100%;
    position: absolute;
    text-align: left;
}

.topRow {
    display: flex;
    width: 100%;
    height: 60px;
    background-color: #131A22;

}

.sitelogo {
    height: 50px;
    width: auto;
    border: 1px solid #131A22;
    border-radius: 2px;
    margin-top: 3px;
    margin-left: 2px;
    padding-top: 3px;
}

.sitelogo:hover,
.selectAddressBtn:hover {
    border-color: white;
    cursor: pointer;

}

.selectAddressBtn {
    display: flex;
    width: fit-content;
    height: 50px;
    border: 1px solid #131A22;
    border-radius: 2px;
    background-color: transparent;
    margin-top: 4px;

}

.selectAddressImg {
    position: relative;
    top: 26px;
    height: 20px;
    width: auto;
}



.selectAddressTextTop {
    position: relative;
    top: 10px;
    right: 52px;
    color: lightgray;
}

.selectAddressTextBottom {
    position: relative;
    top: 10px;
    color: white;
    font-size: 14px;
    font-weight: 600;
}

@media screen and (min-width: 720px) {
    .section-center {

        grid-template-columns: repeat(3, 1fr);
    }

}